.tour-page {
         .fa-star {
            color:gold;
        }
    .img-slider {
        
        width:850px;
    }
    .titles {
        span {
            padding:0.5rem;
            
        }
        .date-to, .date-back,.hotel, .tour-type, .country, .city, .hotel{
            display: flex;
            justify-content: space-between;
            margin:0.2rem 0;
            border: 1px solid rgba(5,19,28,0.18);
            font-size: 1rem;

            span:first-child{
                text-align: center;
                background-color: #222222;
                color:#fff;
                max-width: 120px;
                width:100%;
                text-transform: uppercase;
            }
           
        }
        
    }
    .submit-area {
        text-align: center;

        span {
            font-family:'Segoe UI';
            color:#222222;
            font-weight: bold;
            font-size: 2rem;
            padding: 0.5rem;
        }
        .btn {
            
            background-color: #F25858;
            transition: linear 0.3s;
            border:3px solid #f25858;
            span {
                color:#fff;
                text-transform: uppercase;
            }
        }
        .btn:focus {
            box-shadow:none;
        }
        .btn:hover {
            
            
            background-color: #fff;
            span {
                color:#f25858;
            }
        }
    }   


    .tour-include {
      
        .plus {
         font-size: 1.5rem;
            border-radius: 50%;
            background-color: #F25858;
            color:#fff;
            height:2rem;
            width:2rem;
            text-align: center;
        }

        .air, .bus, .hotel, .food, .medical {

            max-width:110px;
            text-align: center;

            i {
                font-size: 2rem;
            }

            span {
                background-color: #fff;
                color:#222222;
                text-transform: uppercase;
            }
        }
    }
}