nav {
    
    &.nav-tabs {
        .nav-item {


            color:#222222;


            &.nav-link:hover{
            background-color:#F25858;
            color:#fff;

            }
        }
    

    
        
  
        
       
  
    }
    .tab-content {
        background-color:#DE3F3F;
    }

}